<!DOCTYPE html>
<html>
  <head>
    <title>ForestwatcherDesktop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/icons' %>
    <section class="m-header-static">
      <div class="inner">
        <header>
          <h2>Forest Watcher 2.0</h2>
        </header>
      </div>
    </section>
    <% if @current_user %>
      <%= render 'shared/navigation' %>
    <% end %>
    <%= yield %>
  </body>
</html>
